{% extends 'base.html' %}
{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <div id="homepage">
         <div class="container">
            <div class="small">
                  <!--Title: name, expertise, contact-->
                  <div class="page-title">
                  <h1>{{info['profile']['other']['Full name']}}</h1>
                  <h2>{{info['profile']['expertise']}}</h2>
                   <p><small> 
                           <svg xmlns="https://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                           <a href="mailto:{{info['profile']['contact']['email']}}">{{info['profile']['contact']['email']}}</a> | 
                           <svg xmlns="https://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                           {{info['profile']['contact']['phone']}} | 
                          <svg xmlns="https://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                              <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" fill="currentColor" fill-rule="evenodd"></path>
                          </svg>
                          {{info['profile']['contact']['address']}}
                    </small></p>
               </div>
               <div class="column">
                  <div class="left">
                     <p class="paragraph-light">{{info['profile']['about']['paragraph1']}}</p>
                     <p class="paragraph-light">{{info['profile']['about']['paragraph2']}}</p>
                     {% if info['profile']['about']['paragraph3'] %}
                        <p class="paragraph-light">{{info['profile']['about']['paragraph3']}} <a href="https://thecolorfulguitar.pythonanywhere.com/statistics/"> Check the stats</a>.</p>
                     {% endif %}
                    <div class="chart">
                      <canvas id="myChart" width="100" height="125"></canvas>
                    </div>
                  </div>
                  <div class="right">
                     <div class="resume">
                        <!--Experiences-->
                        <div class="label">Brief Timeline</div>
                        
                        <ul>
                           {% for key, value in info['experience'].items() %}
                        	<li>
                              <div class="date">{{value[1]}}</div>
                              <div class="role">{{value[0]}}</div>
                              <div class="company"><a href="{{value[4]}}">{{key}}</a></div>
                           </li>
                           {% endfor %}
                        </ul>

                        <!--Skills-->
                        <div class="label">Skills</div>
                        <ul>
                           {% for key, value in info['skills'].items() %}
                           <li>
                              <div class="skill"><span>{{key}}</span>{%if value[0] %}<span><progress id="progressBar" max="100" value="{{value[0]}}" title="{{value[0]}}"></progress></span> {% endif %}
                              </div>
                           </li>
                           {% endfor %}
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer">
            <div class="container">
                  <!-- Social media links -->
                  {% if info['profile']['social']['linkedin'] %}
                     <div class="social-icon">
                       <a href="{{info['profile']['social']['linkedin']}}">
                           <svg color="blue" xmlns="https://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                               <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" fill="currentColor" fill-rule="evenodd"></path>
                           </svg>
                       </a>
                     </div>
                  {% else %}
                     <div class="social-icon">
                     </div>
                  {% endif %}

                  {% if info['profile']['social']['github'] %}
                     <div class="social-icon">
                       <a href="{{info['profile']['social']['github']}}">
                           <svg color="blue" xmlns="https://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                               <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" fill="currentColor" fill-rule="evenodd"></path>
                           </svg>
                       </a>
                     </div>
                  {% else %}
                     <div class="social-icon">
                     </div>
                  {% endif %}

                  {% if info['profile']['contact']['email'] %}
                     <div class="social-icon">
                       <a href="mailto:{{info['profile']['contact']['email']}}">
                        <svg color="blue" xmlns="https://www.w3.org/2000/svg" fill="#3733FF" height="32" width="32" viewBox="0 0 24 24">
                           <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" fill="currentColor" fill-rule="evenodd"></path>
                        </svg>
                       </a>
                     </div>
                  {% else %}
                     <div class="social-icon">
                     </div>
                  {% endif %}

                  <p>Be well.</p>
                  <p>Created May 2020</p>
                  <p>Updated July 2021</p>

            </div>
         </div>
      </div>
  <script>
    Chart.defaults.global.defaultFontFamily = "'Spectral', Garamond, Georgia, serif";
    var ctx = document.getElementById('myChart').getContext('2d');
    var setBorderWidth = 1;
    var chartTitle = 'On a given day...';
    var chartSubtitle = '(daily cumulative)';
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['9am', '10am', '11am', '12pm', '1pm', '2pm', '3pm', '4pm', '5pm'],
            datasets: [
            {
                  label: 'Coffee cups consumed',
                  backgroundColor: 'rgba(255, 206, 86, 0.2)',
                  borderColor: 'rgba(255, 206, 86, 1)',
                  borderWidth: setBorderWidth,
                  data: [1, 2, 2, 2, 4, 4, 4, 4, 4]
            },
            {
                  label: 'Ideal miles biked',
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255,99,132,1)',
                  borderWidth: setBorderWidth,
                  data: [0, 0, 0, 0, 20, 25, 25, 25, 25]
            },
            {
                  label: 'Pylons constructed',
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: setBorderWidth,
                  data: [1, 1, 1, 1, 2, 2, 4, 4, 5]
            },
            ]

        },

        options: {
          legend: {
            position: 'bottom'
          },
          title: {
            display: true,
            text: [chartTitle, chartSubtitle]
          }  
        }
    });
  </script>
{% endblock %}
